.tickets {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  padding: 20px;
}

.buttonMore {
  background: #2196f3;
  cursor: pointer;
  color: #fff;
  width: 476px;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}

.ticketCard {
  background-color: #fff;
  color: black;
  padding: 20px;
  width: 478px;
  border-radius: 8px;
  margin: 20px 0 20px 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
  @media (max-width: 768px) {
    width: 100%;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
